@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.width{
    width: 240px;
}

.width2{
  width: 500px;
}
.error{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 95vw;
    font-weight: 900;
    font-size: 40px;
}
.full-screen{
    width: 98vw;
    height: 86vh;
}

.select-region {
    position: relative;
    border-radius: 10px;
    width: 11.5rem;
    height: 30%;
    padding: 0 0.2rem;
    -webkit-box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
    box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
    background-color: var(--white);
  }
  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
  
  .select-region summary {
    padding: 1.3rem 0.8rem;
    cursor: pointer;
    border-radius: 5px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2.8rem;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 400;
    justify-content: space-between;
  }
  
  .select-region summary:after {
    content: "";
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    border-bottom: 1px solid currentColor;
    border-left: 1px solid currentColor;
    border-bottom-left-radius: 2px;
    transform: rotate(45deg) translate(50%, 0);
    transform-origin: center center;
    transition: all ease-in-out 0.3s;
    color: var(--dark-mode-elements);
  }
  .active-regions.select-region summary:after {
    transform: rotate(-45deg) translate(50%, 0);
    transition: all ease-in-out 0.3s;
  }
  
  .region-list {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--white);
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;
    padding: 0.2rem 1rem;
    margin: 0;
    box-sizing: border-box;
    border-radius: 10px;
    max-height: 300px;
    overflow-y: auto;
    list-style: none;
    line-height: 1.8rem;
    -webkit-box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
    box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
  }
  
  .region-list li {
    cursor: pointer;
    color: var(--dark-mode-bg);
    transition: all ease-in-out 0.3s;
  }


  .search-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.8rem 5rem;
  }
  
  .input-block {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 30rem;
    align-items: center;
    /* gap: 2rem; */
  }
  
  .search-icon {
    position: absolute;
    opacity: 0.4;
    font-size: 1.1rem;
    padding-left: 2rem;
  }
  .input-block input {
    padding: 1.2rem;
    -webkit-box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
    box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
    border: none;
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
  }
  
  .input-block input::placeholder {
    opacity: 0.4;
    font-size: 0.9rem;
    color: var(--light-mode-text);
    font-weight: 600;
    font-family: var(--body-font);
  }
  
  .input-block input[type="search"] {
    font-size: 0.9rem;
    color: var(--light-mode-text);
    padding-left: 5rem;
    font-family: var(--body-font);
  }

  @media (hover: hover) {
    .region-list li:hover,
    .dark .region-list li:hover {
      color: var(--purple);
      transition: all ease-in-out 0.3s;
    }
    .border-country:hover,
    .dark .border-country:hover {
      color: var(--purple);
      transition: all ease-in-out 0.3s;
    }
  }
  
  @media screen and (max-width: 1201px) {
    .container-block {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 2rem;
      column-gap: 2rem;
      justify-items: center;
    }
  }
  
  @media screen and (max-width: 1025px) {
    .container-block {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
    }
  
    .search-section {
      flex-direction: column;
      align-items: left;
      gap: 2rem;
    }
    .border-countries {
      gap: 15px;
    }
    .country-block {
      align-items: center;
      grid-template-columns: 1fr;
    }
  }
  
  @media screen and (max-width: 600px) {
    nav {
      padding: 1rem;
    }
    .input-block {
      width: 20rem;
    }
    .container-block {
      grid-template-columns: 1fr;
      /* width: 80%; */
    }
    .inside-container {
      width: 80%;
    }
  
    .search-section {
      align-items: initial;
      padding: 1.5rem;
    }
    .details-block {
      flex-direction: column;
      gap: 1.5rem;
    }
  }


  @media (max-width: 800px) {
    #temp {
      display: flex;
      flex-direction: column;
    }
  }